* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    background-color: rgb(243, 129, 35);
  }
  .headerbacground {
    background-image: url(./Asset/mheadbgimg.jpg);
  }
  .banner {
    background-image: url(./Asset/mBanner.png);
    background-size: cover;
  }
  .banner2 {
    background-image: url(./Asset/mbanner-2.png);
    background-size: cover;
  }
  .img {
    background-image: url(./Asset/mMohammad\ Shohag\ Smj.jpg);
    background-size: cover;
  }
  .Nadia {
    background-image: url(./Asset/m/nadia\ Taxmin.jpg);
    background-size: cover;
  }

  .Rifat {
    background-image: url(./Asset/mrifat\ ahmed.jpg);
    background-size: cover;
  } 