* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    background-color: rgb(245, 127, 31);
  }
.headerbacground {
    background-image: url(./Asset/sharif\ bgg.jpg);
    background-size: cover;
  }
.banner {
    background-image: url(./Asset/mBanner.png);
    background-size: cover;
  }
.banner2 {
    background-image: url(./Asset/mbanner-2.png);
    background-size: cover;
  }
.img {
    background-image: url(./Asset/mMohammad\ Shohag\ Smj.jpg);
    background-size: cover;
  }
.Nadia {
    background-image: url(./Asset/mnadia\ Taxmin.jpg);
    background-size: cover;
  }

.Rifat {
    background-image: url(./Asset/mrifat\ ahmed.jpg);
    background-size: cover;
  } 